#Java 
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/

#NodeAngular
node_modules/
dist/
.angular/
npm-debug.log*

#Entorno 
.env
*.local

#IDEs
.idea/
.vscode/
*.iml


.DS_Store
Thumbs.db